form input[type="radio"] {
    margin: 15px;
}

form input[type="radio"]:not(:first-child) {
    margin-left: 15px;
}

.status span{
    padding-left: .5em;
    font-size: 1.3em;
}

.status {
    margin-bottom: 1em;
}

hr {
    margin-bottom: 20px;
    margin-top: 20px;
}

.giftImage {
    width: 450px;
    max-height: 450px;
    align-self: center;
    align-content: center;
    border-radius: 15px;
}