.container-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252525;
    padding: 0 12px;
}

.login {
    background: #2e2e38;
    width: 800px;
    height: 600px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;

    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
}

.left-side {
    border-radius: 10px;
    height: 100%;
    flex: 1;

    /* background: url(https://wallpapercave.com/wp/wp12261842.png); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    padding: 10px;
}

.introduction {
    /* height: 150px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 1em;
    color: #ecebeb;
    text-shadow: #000;
}

.introduction h2 {
    text-align: center;
}

.introduction h2 span {
    color: #ffffff;
}

.introduction p {
    text-align: start;
}

.right-side {
    border-radius: 10px;
    height: 100%;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-area {
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-area img {
    width: 170px;
    height: 130px;
    padding: 20px;
}

form {
    margin-top: 1.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
}

form h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
}

.login input {
    margin-bottom: 1rem;
    height: 35px;
    border-radius: 4px;
    border: 0;
    padding: 10px;
    font-size: 15px;
    background: #fff;
}

form button {
    height: 35px;
    border: 0;
    border-radius: 4px;
    background: #734ac0;
    color: #fff;
    font-size: 1.3rem;
    transition: all .3s ease-in-out;
}

form button:hover {
    background: #5d3c9b;
}

.login a {
    margin: 1.5rem 0;
    color: #734ac0;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.login a:hover {
    color: #5d3c9b;
}