@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --dark-background: #252525;
    --middle-background: #2e2e38;
    
    --purple-buttom: #734ac0;
    --purple-buttom-hover: #5d3c9b;
    
    --dark-button: #181c2e;
    --dark-button-hover: #494949;

    --light-text-color: #f8f8f8;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    font: 14px;
    background: #efefef;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

.error {
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 35px;
    display: flex;
    align-items: center;
    padding-left: 1em;
    background: #fca4a48e;
}